@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
  font-family: 'norse-bold';
  src: url('./font/Norse-Bold.otf');
}


:root {
  --primary-light: #ffffff;
  --secondary-light: #f9fafb;
  --primary-dark: #000000;
  --secondary-dark: #E5E7EB;
  --tertiary-dark: #404040;
  --accent-color: #596D48;
  --accent-color-two: #7A8A6C;
  --dark-bg: rgba(0, 0, 0, 0.4);
  --margin-left: calc(30px + 1.5625vw);
}

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-dark);
  color: var(--primary-light);
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.odin-text{
	font-family: norse-bold;
	font-size: 6rem;
}

.image {
  max-width: 80%;
  max-height: 80%;
}

.image-logo-section {
  display: flex;
  background-image: url("./img/green.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

.odin-logo-bg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 21vh;
  height: 10em;
  width: 35vw;
  background-color: var(--dark-bg);
}

.photo-credit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-size: 0.8rem;
}

a {
  color: var(--primary-light);
}

a:visited {
  color: var(--primary-light);
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 65vw;
  height: 100vh;
  background-color: var(--primary-light);
}

.top-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--secondary-light);
  width: 100%;
  height: 125%;
}

.middle-section {
  z-index: 1;
  background-color: white;
  width: 100%;
  max-height: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.bottom-section {
  background-color: var(--secondary-light);
  width: 100%;
  height: 100%;
}

.first-text {
  color: var(--primary-dark);
  font-size: 1.4rem;
  font-weight: bold;
  position: relative;
  top: 5vh;
  margin: 0 calc(30px + 5.2vw) 0 var(--margin-left);
}
 
.subscribe-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0.6rem 0 0.8rem var(--margin-left);
  color: var(--primary-dark);
}

form {
  max-width: 100%;
  margin: 0.5rem calc(15.2vw) 1.8rem var(--margin-left);
  display: grid;
  grid-column-gap: 5em;
  grid-template-columns: 1fr 1fr;
}

form div {
  margin-bottom: 1rem;
}

input{
  box-sizing: border-box;
  border: 1px solid var(--secondary-dark);
  border-radius: 5px;
  line-height: 2.2rem;
  padding: 0 0 0 12px;
  width: 100%;
  font-size: 1rem;
}

input:not(:focus):not(:placeholder-shown):invalid {
  border-color: red;
}

input:not(:focus):not(:placeholder-shown):valid {
  border-color: green;
}

label {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--tertiary-dark);
  margin: 0 0 3px 0;
}

button {
  margin: 2rem 1.5rem 2rem var(--margin-left);
  color: var(--primary-light);
  background-color: var(--accent-color);
  border-style: none;
  cursor: pointer;
  display: block;
  font-size: 1.2rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 5px;
}

button:disabled {
  color: #888;
  cursor: default;
}

button#create-account:not(:disabled):hover {
  background-color: var(--accent-color-two);
  color: white;
}

.log-in {
  margin: 0 0 1.8rem var(--margin-left);
  color: var(--primary-dark);
  font-weight: bold;
}

#log-in-link {
  color: var(--accent-color);
  text-decoration: none;
}

#log-in-link:visited {
  color: blue;
}

.error {
  color: red;
  font-size: 0.8rem;
}

@media (max-width: 750px) {

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .image-logo-section {
    display: flex;
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .odin-logo-bg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 0vh;
    height: 20vw;
    width: 100%;
  }

  .photo-credit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 0 0.5rem 0;
    font-size: 0.6rem;
  }

  .form-section {
/*    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;*/
    width: auto;
    height: 100%;
  }

  .top-section {
    height: 16vh;
  }

  .first-text {
    font-size: 1.2rem;
    font-weight: bold;
    position: relative;
    top: 0vh;
    margin: 0 1rem 0 1rem ;
  }

  .subscribe-title {
    box-sizing: border-box;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0.6rem 0 0.8rem 1rem;
  }

  p.odin-text {
    display: flex;
    font-size: 13vw;
  }

  form {
    max-width: 100%;
    margin: 0.5rem 1rem 1.8rem 1rem;
    display: grid;
    grid-row-gap: 1.2em;
    grid-template-columns: 1fr;
  }

  input{
    box-sizing: border-box;
    border: 1px solid var(--secondary-dark);
    border-radius: 5px;
    padding: 0.7rem;
    width: 100%;
    font-size: 22px;
    margin-top: 3px;
  }

  label {
    font-size: 0.9rem;
    margin: 0px;
  }

  button {
    margin: 2rem 0 2rem 1rem;
    padding: 1rem 3rem 1rem 3rem;
  }

  .log-in {
    margin:  0em 0 1.8rem 1rem;
  }

}


@media only screen and (max-width: 540px) {

  p.odin-text {
    font-size: 13vw;
  }

}

@media only screen and (max-width: 464px) {

  .first-text {
    font-size: 4vw;
    font-weight: bold;
    position: relative;
    top: 0vh;
    margin: 0 1rem 0 1rem;
  }

}