@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');



@font-face {
  font-family: 'norse-bold';
  src: url('/font/Norse-Bold.otf');
}


:root {
  --primary-light: hsl(190, 0%, 93%);
  --primary-dark: hsl(190, 53%, 43%);
  --secondary-light: #C6F0FC;
  --secondary-dark: #15A0C2;
}

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  font-family: 'Noto Sans', sans-serif;
/*  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;*/
  background-color: var(--primary-dark);
  color: var(--primary-light);
}

main {
  display: flex;
  flex-direction: row;
}

div > p {
	font-family: norse-bold;
	font-size: 4rem;
}

img, .odin-logo {
	width: 5em;
}

.image-logo-section {
  display: flex;
  background-image: url("/img/green.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 35vw;
  height: 100vh;
}

.form-section {
  width: 65vw;
  height: 100vh;
/*  border: 1px solid #000000;*/
}
